<nav class="px-lg-4 navbar navbar-expand-lg navbar-light bg-light fixed-top text-monospace">
    <a class="navbar-brand mr-lg-4 font-weight-bold" href="#">To.Do.APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="width: 100%;">
        <li class="nav-item active">
            <a class="nav-link mr-lg-3" href="/">TO DO LIST <i class="fas fa-list-ul"></i> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/django" >ABOUT <i class="fab fa-python fa-lg"></i> </a>
        </li>

        {% if request.user.is_authenticated %}
          <li class="nav-item ml-lg-auto">
            <a class="nav-link" href="/user/logout" tabindex="-1" aria-disabled="true">Çıkış Yap <i class="fas fa-user-plus"></i> </a>
          </li>
        {% else %}
          <li class="nav-item ml-lg-auto">
            <a class="nav-link" href="/user/register" tabindex="-1" aria-disabled="true">Kayıt ol <i class="fas fa-user-plus"></i> </a>
          </li>
          <li class="nav-item ml-lg-3">
            <a class="nav-link" href="/user/login" tabindex="-1" aria-disabled="true">Giriş <i class="fas fa-sign-in-alt"></i></a>
          </li>
        {% endif %}

      </ul>
    </div>
  </nav>